extends ../layout

block content
       .page-header
           h2 My Polls
           div(id="myPolls")


           script(type='text/javascript').
                   var myPolls =!{JSON.stringify(pollItems)};












