extends ../layout

block content
       .page-header
           h3 My Polls
           div(id="myPolls")

               script(type='text/javascript').
                   var myPolls =!{JSON.stringify(myPollItems)}












