extends layout

block content
  .page-header
    h3 New Poll

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='title') Poll
      .col-sm-8
        input.form-control(type='text', name='title', id='title', autofocus=true, rows='7')
    .form-group
      label(class='col-sm-2 control-label', for='option1') Option 1
      .col-sm-8
        input.form-control(type='text', name='option1', id='option1')
    .form-group
      label(class='col-sm-2 control-label', for='option2') Option 2
      .col-sm-8
        textarea.form-control(name='option2', id='option2')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-send
          | Post Poll
